.homeGame {
    margin-top: 100px;
    
    &-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        h1 {
            font-size: 2em;
            font-weight: bold;
            margin: 0;
            color: orange;
            text-shadow: 2px 2px #000;

            @media screen and (min-width: 769px) {
                font-size: 3.5em;
                font-weight: bold;
                margin-top: 0;    
            }
        }
        
        img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
    }
}
