.memory {
    &-category {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #fff;
      color: #000;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 10px;
  
      img {
        width: 80%
      }
    }
  }
  
  .memory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  
    @media screen and (min-width: 769px) {
      width: 800px;
    }
  
    @media screen and (min-width: 770px) and (max-width: 800px) {
      width: calc(380px - 20px);
      height: 230px;
    }
  }
  
  .memory-wrapper {
    cursor: pointer;
    width: calc(150px - 20px);
    height: 200px;
    perspective: 600px;
    margin: 10px;
    position: relative;
  
    @media screen and (min-width: 768px) {
      width: calc(200px - 20px);
      height: 250px;
    }
  
    @media screen and (min-width: 769px) and (max-width: 800px) {
      width: calc(180px - 20px);
      height: 230px;
    }
  
  }
  
  .memory-card {
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center right;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: tan;
  }
  
  .memory-card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      // writing-mode: vertical-rl;
      // text-orientation: sideways;
      font-size: 2em;
      transform: rotate(45deg);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
  .memory-card__face--front {
    border-radius: 50%;
  }
  
  .memory-card__face--back {
    border-radius: 50%;
    transform: rotateY(180deg);
  }
  
  .is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .matched {
    transform: translateX(-100%) rotateY(-180deg);
    border: 2px solid green;
  }
  
  .memory-win {
    text-align: center;
    font-size: 3em;
  }
  
  .memory-infos {
    text-align: center;
    font-size: 1.5em;
    margin: 100px auto 0;
    width: 800px;
    display: flex;
    justify-content: space-between;
  
    p {
      text-align: left;
      padding: 0 10px;
      margin-bottom: 0;
    }
  }
  