.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 5em;
    color: orange;
    text-shadow: 2px 2px #000;
    margin-top: 200px;
  }
}
