body {
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  filter: grayscale(5%);
}

#app {
  min-height: 100vh;
}
