.quizzs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    h1 {
        font-size: 4em;
    }

    .wrapper-quizzs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px 0;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 150px 0;
        }

        a {
            margin-top: 50px;
        }

        .quizzs-fav {
            font-size: 40px;
            position: absolute;
            top: 75px;
            left: -25px;
            cursor: pointer;
        }
    }

    &-quiz {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 8px solid lightgreen;
        background-color: #fff;
        margin: 0 50px;
        position: relative;

        a {
            font-size: 2em;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
    }
}
