.quiz {
    margin-top: 150px;

    &-questions {
        background-color: #FFF;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        border-radius: 20px;
    }

    &-question {
        font-size: 2em;
        font-weight: bold;
    }

    &-response {
        font-size: 1.5em;
    }

    &-button-next {
        background-color: #FF2626;
        color: #FFF;
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        font-size: 1.2em;
    }
}
