.games {
    text-align: center;
    margin-top: 100px;

    h1 {
        font-size: 4em;
        color: orange;
        text-shadow: 2px 2px #000;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 150px auto 50px;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &-puzzles, &-memory {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 8px solid lightgreen;
        background-color: #fff;
        margin: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img {
            margin-top: 5px;
            max-width: 90px;
        }

        a {
            font-size: 1.9em;
            font-weight: bold;
            display: flex;
            justify-content: center;
            color: #000;
            margin-bottom: 5px;

            &:hover {
                color: lightgreen;
            }
        }
    }
}
