.home {

    &-content {
        text-align: center;
    }

    &-title {
        font-weight: bold;
        font-size: 3em;
        margin-top: 2em !important;
        text-align: center;

        @media screen and (min-width: 769px) {
            margin-top: 1.5em !important;
            font-size: 5em;
        }
    }

    p {
        margin: 2em auto;
        font-size: 1.2em;

        @media screen and (min-width: 769px) {
            width: 600px;
        }
    }
}

.home-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    color: #fff;

    @media screen and (min-width: 769px) {
        flex-direction: row;
    }
    
    &-one, &-two{
        width: 200px;
        height: 200px;
        border: 10px solid #FF2626;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        // box-shadow: 0 0 10px 1px #000;
        text-align: center;
        cursor: pointer;

        img {
            margin-top: 10px;
            width: 100px;
        }
        
        h2 {
            font-size: 2em;
            margin-top: 10px;
            font-weight: bold;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                color: #000;
                font-size: 3em;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    &-one {
        img {
            margin-top: 15px;
        }

        @media screen and (min-width: 769px) {
            margin-right: 60px;
        }
    }

    &-two {
        margin-top: 5em;

        @media screen and (min-width: 769px) {
            margin-left: 60px;
            margin-top: 0;
        }
    }
}

.css-12ghumh:nth-child(2) {
    @media screen and (max-width: 768px) {
        margin-top: -100px;
    }
}

.css-bfsnla, .css-hjq2k1, .css-16k597g, .css-1getsqo {
    background: none !important;
}

.css-16k597g:focus, .css-1getsqo:focus {
    outline: none !important;
    border: none !important;
}
