.home {
  &-content {
    text-align: center;
  }

  &-title {
    margin-top: 2em !important;
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;

    @media screen and (min-width: 769px) {
      margin-top: 1.5em !important;
      font-size: 1.5em;
    }
  }

  p {
    margin: 2em auto;
    font-size: 1.2em;
  }
  span {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 50px;
    margin: 2em 0 0.7em !important;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 769px) {
      margin: 1.3em 0 0.7em !important;
      font-size: 1.8em;
      line-height: 0px;
    }
  }

  &-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;

    // &-two
    width: 220px;
    height: 220px;
    border: 10px solid lightgreen;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    // box-shadow: 0 0 10px 1px #000;
    text-align: center;
    cursor: pointer;

    @media screen and (min-width: 769px) {
      display: block;
    }

    img {
      margin-top: 15px;
      width: 120px;
    }

    h2 {
      font-size: 2em;
      margin-top: 10px;
      font-weight: bold;
    }

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: #000;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          color: lightgreen;
        }
      }
    }

    // &-one {
    //     img {
    //         margin-top: 15px;
    //     }

    //     @media screen and (min-width: 769px) {
    //         margin-right: 60px;
    //     }
    // }

    // &-two {
    //     margin-top: 5em;

    //     @media screen and (min-width: 769px) {
    //         margin-left: 60px;
    //         margin-top: 0;
    //     }
    // }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  @media screen and (min-width: 769px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
  }
}

.wrapper {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 50px 0;

  @media screen and (min-width: 769px) {
    margin: 0 100px;
  }
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  border-radius: 50%;
}

.card__face--back {
  border-radius: 50%;
  transform: rotateY(180deg);
}

.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
