/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ff2626;
}

/* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//   background: #a90000;
// }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ff2626;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #ff2626;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #000;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.active {
  text-decoration: underline;
}

.header {
  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: space-between;
  }

  &-nav-desktop {
    margin-top: 36px;
    margin-right: 36px;

    ul {
      display: flex;

      li {
        margin-left: 20px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &-p {
    margin-top: 10px;
    display: flex !important;
  }

  &-p:focus {
    outline: none;
  }

  &-img {
    margin-top: 36px;
    margin-left: 36px;
  }

  &-link {
    font-size: 1.5em;
    padding-left: 5px;
    padding-bottom: 4px;
    color: #fff;

    &:hover {
      color: #fff;
    }

    @media screen and (min-width: 769px) {
      &:hover {
        color: #ff2626;
      }
    }

    @media screen and (min-width: 769px) {
      color: #FF2626;
    }
  }
}
