.discovery--nature {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &--pic1,
  // &--pic2,
  &--pic8   
  {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }

  &--pic1 {
    //border-radius: 50%;
    min-width: 280ch;
    min-height: 121ch;
    width: 55vw;
    height: 55vw;
    max-width: 280ch;
    max-height: 1ch;
    background-image: url(https://i0.wp.com/static.vecteezy.com/system/resources/previews/000/206/763/original/awesome-tropical-landscape-player-vectors.jpg);
  }

  &--pic2 {
    width: 30ch;
    height: 30ch;
    opacity: 0.9;
  }

  &--pic3 {
    width: 40ch;
    height: 40ch;
  }

  &--pic4 {
    width: 12ch;
    height: 12ch;
    opacity: 0.91;
  }

  &--pic5 {
    width: 15ch;
    height: 15ch;
    opacity: 0.85;
  }

  &--pic6 {
    width: 20ch;
    height: 20ch;
   
  }

  &--pic7 {
    width: 18ch;
    height: 18ch;
    opacity: 0.98;
  }
  
  &--pic8 {
    min-width: 270ch;
    min-height: 125ch;
    width: 55vw;
    height: 45vw;
    max-width: 270ch;
    max-height: 125ch;
    background-image: url(https://storybookstorage.s3.amazonaws.com/items/images/000/705/776/original/20170122-7-1tpunb3.jpg);
  }

  &--pic9 {
    width: 32ch;
    height: 32ch;
    opacity: 0.97;
  }

  &--pic10 {
    width: 30ch;
    height: 30ch;
  }

  &--pic11 {
    width:45ch;
    height:45ch;
    opacity: 0.995;
  }

  &--pic12 {
    width: 4ch;
    height: 4ch;
    transform: rotate(315deg);
    opacity: 0.9;
  }

  &--pic13 {
    width: 70ch;
    height: 70ch;
  }

  &--pic14 {
    width: 7ch;
    height: 7ch;
    transform: rotate(45deg);
    opacity: 0.9;
  }

  
}
