.form-user-details {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;
}

.form-personal-details {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;
}

.confirmation {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;
}

.succes {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;
}
