.puzzles {
    text-align: center;
    margin-top: 100px;

    h1 {
        font-size: 4em;
    }

    &-puzzle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 150px 0;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &-infos {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 8px solid lightgreen;
            background-color: #fff;
            margin: 0 50px;

            img {
                margin-top: 15px;
                width: 100px;
            }

            a {
                font-size: 2em;
                font-weight: bold;
                display: flex;
                justify-content: center;
                color: #000;
                margin-top: 20px;

                &:hover {
                    color: lightgreen;
                }
            }
        }
    }
}
