.gameMenu {
  display: flex;
  justify-content: center;

  &-nav {
    position: fixed;
    bottom: 0;
    ul {
      display: flex;

      li {
        a {
          font-size: 1.2em;
          color: #000;
          font-weight: bold;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 8px solid lightgreen;
          background-color: #fff;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media screen and (min-width: 769px) {
            font-size: 1.7em;
            width: 200px;
            height: 200px;
          }

          span {
            @media screen and (min-width: 769px) {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  &-icon--discovery {
   width: 3em;
   height: 3em;

    @media screen and (min-width: 769px) {
      width: 4em;
      height: 4em;
      margin-top: 15px;
    }
  }

  &-icon--square {
    width: 2em;
    height: 2em;
    margin-top: 5px;

    @media screen and (min-width: 769px) {
      margin-top: 20px;
      width: 3em;
      height: 3em;
    }
  }

  &-icon--jeux {
    width: 3em;
    height: 3em;

    @media screen and (min-width: 769px) {
      width: 4em;
      height: 4em;
      margin-top: 10px;
    }
  }

  &-link--discovery {
    @media screen and (min-width: 769px) {
      margin-bottom: 28px !important;
      margin-top: 50px !important;
    }
  }

  &-link--quiz {
    margin-top: 11px;
    @media screen and (min-width: 769px) {
      margin-top: 48px !important;
      width: 2.5em;
    }
  }

  &-link--jeux {
    @media screen and (min-width: 769px) {
      margin-bottom: 28px !important;
      margin-top: 50px !important;
    }
  }
}
