.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    h1 {
        font-size: 2em;
        color: orange;
        text-shadow: 2px 2px #000;
        
        @media screen and (min-width: 769px) {
            font-size: 3.5em;
        }
    }

    .wrapper-categories {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px 0;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 120px 0;
        }

        span {
            margin-top: 20px;
            color: #000;
        }

        img {
            margin-top: 15px;
            width: 100px;
        }

        a {
            margin-top: 50px;
            text-align: center;
        }
    }

    &-quiz {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 8px solid lightgreen;
        background-color: #fff;
        margin: 0 50px;

        span {
            font-size: 2em;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
    }
}
