.login {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;

  p {
    margin: 0 0 10px 10px;
    font-size: 1.2em;
  }
}

.app-link {
  cursor: pointer;
  padding-left: 1em;
}

.forgotten-form {
  width: 380px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px -6px #000;
  padding: 1.5em;
  border-radius: 6px;
}

.login-form {
  padding: 1em;
  width: 20em;
}

#connexion {
  background-color: #ff8b73;
}

#inscription {
  background-color: #cc2e43;
}

#forgotten-pw a {
  margin: 20px 0 auto;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.treatment {
  margin-top: 10px;
}
