.puzzle {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  position: relative;
  flex-direction: column;
  align-items: center;

  &-win-text {
    position: absolute;
    font-size: 7em;
    color: green;
    opacity: 0;
    z-index: 1;
    top: -80px;
  }

  &--hide {
    display: none;
  }

  &-img {
    width: 350px;
    height: 350px;
    display: none;

    @media screen and (min-width: 769px) {
      width: 550px;
      height: 550px;
    }

    &--show {
      display: block;
      opacity: .7;
    }

    img {
      width: 100%;
    }
  }
}
